/* Submit button css */

.submit {
  background-color: #222;
  border: 1px solid #444;
  border-radius: 4px;
  color: white;
  font-size: 15px;
  font-weight: bold;
  margin: 15px 0;
  padding: 12px 20px;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
  width: 100%;
}

.submit:hover {
  background-color: #444;
}

.success {
  background-color: green;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 20px 0 0 0;
  padding: 15px;
  width: 100%;
}

.success span {
  color: white;
  margin-left: 25px;
}

.success path {
  fill: white;
}

.error {
  background-color: red;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 20px 0 0 0;
  padding: 15px;
  width: 100%;
}

.error span {
  color: white;
  margin-left: 25px;
}

.error path {
  fill: white;
}
