
@keyframes spin {
  from {
   transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.spinner {
  animation: spin .8s linear infinite;
  display: block;
  fill: #000000;
  height: 50px;
  margin: 16px auto;
  width: 50px;
}
