/* Login css */

.login {
  background-color: var(--dark-background-color-secondary); 
  border: 1px solid var(--dark-border-color);
  border-radius: 10px; 
  color: var(--dark-color);
  max-width: 500px; 
  padding: 10px 15px 50px 15px;
  width: 100%; 
}

.login h2 {
  font-size: 26px; 
  font-weight: normal;
  margin: 15px 0;
  text-align: center;
}

.login div:last-child { 
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  padding: 0 15px;
}
