/* Login css */

.login {
  background: white; 
  border: 1px solid #555;
  border-radius: 10px; 
  font-family: Arial, Helvetica, sans-serif;
  max-width: 500px; 
  padding: 10px 15px 50px 15px;
  width: 100%; 
}

.login h2 {
  color: black;
  font-size: 26px; 
  font-weight: normal;
  margin: 15px 0;
  text-align: center;
}

.login div {
  position: relative;
}

.login > div:first-of-type,
.login > div:nth-of-type(2) {
  margin-bottom: 20px;
}

.login input {
  border: 1px solid #555;
  border-radius: 5px;
  box-sizing: border-box;
  color: black;
  font-size: 16px;
  padding: 15px 15px 15px 40px;
  transition: border-color 0.3s ease, background-color 0.3s ease;
  width: 100%;
}

.login input:hover {
  border-color: black;
}

.login svg { 
  font-size: 20px;
  left: 15px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.login div:last-child { 
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  padding: 0 15px;
}

.login div:last-child button { 
  background: none;
  color: black;
  cursor: pointer;
  border: 0;
  font-size: 16px;
  padding: 0;
}

.login div:last-child button:hover {
  text-decoration: underline;
}
    
